@model Question
@{
	Layout = null;
}

<form asp-controller="Company" asp-action="CompanyQuestion" method="post">
	@Html.AntiForgeryToken()
	<div class="form-group">
		<textarea asp-for="Text" name="Text" placeholder="Buradan Sorunuzu Sorabilirsiniz. *" required></textarea>
	</div>
	<div class="form-group">
		<button type="submit">Soruyu Sor <i class="flat flaticon-plane"></i></button>
		<input type="hidden" asp-for="CompanyId" />
		<input type="hidden" asp-for="UserId" />
	</div>
	<partial name="_explorerAlertPartial" />
</form>