@model IEnumerable<OurServices>
@{
	Layout = null;
}

@foreach (var item in Model)
{
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 column">
		@if (item.IconUrl != null)
		{
			<div class="icon">
				<img src="~/img/us/ourService/@item.IconUrl" style="max-height:21px;max-width:60px;" asp-append-version="true" />
			</div>
		}
		else
		{
			<div class="icon">
				<img src="~/img/statics/verification.png" style="max-height:21px;max-width:60px;" asp-append-version="true" />
			</div>
		}
		<div class="heading">
			<h5>@item.Title</h5>
		</div>
		<div class="description">
			<p>@Html.Raw(item.Desc) </p>
		</div>
	</div>
}