@model IEnumerable<CompanySubcategory>
@{
	Layout = null;
}

@foreach (var item in Model)
{
	<li>
		<a asp-controller="Company" asp-action="Subcategory" asp-route-id="@item.Id">@item.Name</a>
	</li>
}