@model Picture
@{
	Layout = null;
}

@if (ViewData["pictureCount"] == null)
{
	<div class="income-rate-total">
		<div class="price-adminpro-rate">
			<h3><span class="counter">Still No Picture</span></h3>
		</div>
	</div>
}
else
{
	<div class="income-rate-total">
		<div class="price-adminpro-rate">
			<h3><span class="counter">@ViewData["pictureCount"]</span></h3>
		</div>
	</div>
}