@model IEnumerable<About>
@{
	ViewData["Title"] = "Hakkımızda";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-banner" class="index-3">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
			</div>
		</div>
	</div>
</section>
<section id="about-us" class="index-3">
	<div class="container">
		@foreach (var item in Model)
		{
			<div class="col-lg-12 col-md-12 col-xs-12">
				<div class="row row-safari">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<img class="img_sec" src="~/img/us/about/@item.ImageUrl" style="max-height:420px;max-width:500px;" asp-append-version="true" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
						<div class="about-heading">@item.Title</div>
						<p>@item.Subtitle</p>
						<p>@Html.Raw(item.Desc)</p>
					</div>
				</div>
				@await Component.InvokeAsync("AboutHit", new { id = item.Id })
			</div>
		}
	</div>
</section>
<section id="qualities" class="index-3">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="content">
				@await Component.InvokeAsync("AboutOurServices")
			</div>
		</div>
	</div>
</section>
<section id="counter" class="counter-inner">
	<div class="container">
		<div class="col-lg-12">
			<div class="row">
				<div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="count_icon"> <i class="flat flaticon-like"></i> </div>
					@await Component.InvokeAsync("AboutCityCounter")
				</div>
				<div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="count_icon"> <i class="flat flaticon-like"></i> </div>
					@await Component.InvokeAsync("AboutCompanyCounter")
				</div>
				<div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="count_icon"> <i class="flat flaticon-like"></i> </div>
					@await Component.InvokeAsync("AboutProductCounter")
				</div>
				<div class="counter-column col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="count_icon"> <i class="flat flaticon-like"></i> </div>
					@await Component.InvokeAsync("AboutUserCounter")
				</div>
			</div>
		</div>
	</div>
	<div class="overlay"></div>
</section>