@model IEnumerable<Picture>
@{
	Layout = null;
}

@foreach(var item in Model)
{
	<div class="col-lg-4 col-md-4 col-sm-12">
		<div class="pic-holder">
			<img src="~/img/company/blog/multiImage/@item.ImageUrl" style="max-width:274px;max-height:225px;min-width:274px;min-height:225px;" asp-append-version="true">
		</div>
	</div>
}