@model Company
@{
	Layout = null;
}

@if (Model != null)
{
	<div class="visitor_pic">
		<img src="~/img/company/logo/@Model.Logo" style="max-height:224px;max-width:350px;min-height:224px;min-width:350px;" asp-append-version="true" />
	</div>
}