@model PricingContact
@{
	ViewData["Title"] = "Fiyat Bilgi Talebi";
	ViewData["Subtitle"] = "Fiyatlandırma Hakkında Bilgi Alabilirsiniz";
	ViewData["markup"] = "* ile gösterilen alanlar zorunludur.";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<div class="form-header text-center">
					<h4>@ViewData["Title"]</h4>
					<div class="separator">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<p>@ViewData["Subtitle"]</p>
					<p>@ViewData["markup"]</p>
				</div>
				<div class="contact-form">
					<form asp-controller="Pricing" asp-action="GetContact" method="post">
						@Html.AntiForgeryToken()
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" asp-for="NameSurname" name="NameSurname" placeholder="Adınız Soyadınız *" required />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="email" asp-for="Email" name="Email" placeholder="Email Adresiniz *" required />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" asp-for="CompanyName" name="CompanyName" placeholder="Firmanızın İsmi *" required />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
								<input type="text" asp-for="PhoneNumber" name="PhoneNumber" placeholder="Telefon Numaranız *" required />
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
								<textarea type="text" asp-for="Desc" name="Desc" placeholder="Detay Metni *" required></textarea>
							</div>							
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center">
								<button type="submit">Gönder </button>
								<input type="hidden" asp-for="PricingId" />
							</div>
						</div>
					</form>
					<br />
					<partial name="_frontEndAlertPartial" />					
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
		</div>
	</div>
</section>
