@model AdminChangePasswordDto
@{
	ViewData["Title"] = "Change Password";
	ViewData["Subtitle"] = "Change Yuur Password";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="login-form-area mg-t-30 mg-b-15">
		<div class="container-fluid">
			<div class="row">
				<form asp-controller="AccountAdmin" asp-action="ChangePassword" method="post" id="adminpro-register-form" class="adminpro-form">
					@Html.AntiForgeryToken()
					<div class="col-lg-12">
						<div class="login-bg">
							<div class="row">
								<div class="col-lg-12">
									<div class="login-title">
										<h1>@ViewData["Subtitle"]</h1>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="login-input-area">
										<input type="password" asp-for="CurrentPassword" name="CurrentPassword" required placeholder="Current Password" />
									</div>
								</div>
								<div class="col-lg-4">
									<div class="login-input-area register-mg-rt">
										<input type="password" asp-for="NewPassword" name="NewPassword" required placeholder="New Password" />
									</div>
								</div>
								<div class="col-lg-4">
									<div class="login-input-area register-mg-rt">
										<input type="password" asp-for="ConfirmNewPassword" name="ConfirmNewPassword" required placeholder="Confirm New Password" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6"></div>
								<div class="col-lg-6">
									<div class="login-button-pro">
										<button type="submit" class="login-button login-button-lg">Change Password</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>				
			</div>
			<hr />
			<partial name="_adminCrudAlertPartial" />
		</div>
	</div>
</div>