@model AdminLoginDto
@{
	ViewData["Title"] = "Login";
	Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>btub.online | @ViewData["Title"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@await Component.InvokeAsync("IconLogo")
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link rel="stylesheet" href="~/temp/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/adminpro-custon-icon.css">
	<link rel="stylesheet" href="~/temp/admin/css/meanmenu.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/animate.css">
	<link rel="stylesheet" href="~/temp/admin/css/normalize.css">
	<link rel="stylesheet" href="~/temp/admin/css/form.css">
	<link rel="stylesheet" href="~/temp/admin/style.css">
	<link rel="stylesheet" href="~/temp/admin/css/responsive.css">
	<script src="~/temp/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="materialdesign">
	<div class="wrapper-pro">
		<div class="content-inner-all">
			<div class="login-form-area mg-t-30 mg-b-40">
				<div class="container-fluid">
					<div class="row">
						<br /><br /><br /><br /><br /><br />
						<hr />
						<div class="col-lg-3"></div>
						@using (Html.BeginForm("Login", "AccountAdmin", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
						{
							@Html.AntiForgeryToken()
							<div class="col-lg-5">
								<div class="login-bg">
									<div class="row">
										<div class="col-lg-4">
											<div class="login-input-head">
												<p>E-mail</p>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="login-input-area">
												<input type="email" asp-for="Email" name="Email" />
												<i class="fa fa-envelope login-user" aria-hidden="true"></i>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="login-input-head">
												<p>Password</p>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="login-input-area">
												<input type="password" asp-for="Password" name="Password" />
												<i class="fa fa-lock login-user"></i>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6"></div>
										<div class="col-lg-6">
											<div class="login-button-pro">
												<button type="submit" class="login-button login-button-lg">Log in</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
						<div class="col-lg-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/temp/admin/js/vendor/jquery-1.11.3.min.js"></script>
	<script src="~/temp/admin/js/bootstrap.min.js"></script>
	<script src="~/temp/admin/js/jquery.meanmenu.js"></script>
	<script src="~/temp/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/temp/admin/js/jquery.sticky.js"></script>
	<script src="~/temp/admin/js/jquery.scrollUp.min.js"></script>
	<script src="~/temp/admin/js/jquery.form.min.js"></script>
	<script src="~/temp/admin/js/jquery.validate.min.js"></script>
	<script src="~/temp/admin/js/form-active.js"></script>
	<script src="~/temp/admin/js/main.js"></script>
</body>
</html>