@model UserRegisterDto
@{
	ViewData["Title"] = "Register Company";
	ViewData["Subtitle"] = "Register New Company";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="login-form-area mg-t-30 mg-b-15">
		<div class="container-fluid">
			<div class="row">
				<form asp-controller="AccountAdmin" asp-action="Register" method="post" id="adminpro-register-form" class="adminpro-form">
					@Html.AntiForgeryToken()
					<div class="col-lg-12">
						<div class="login-bg">
							<div class="row">
								<div class="col-lg-12">
									<div class="login-title">
										<h1>@ViewData["Subtitle"]</h1>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="login-input-area">
										<input type="text" asp-for="NameSurname" name="NameSurname" required placeholder="Name Surname" />
									</div>
								</div>								
								<div class="col-lg-6">
									<span class="badge badge-info">Birthdate *</span>
									<div class="login-input-area register-mg-rt">
										<input type="date" asp-for="Birthdate" name="Birthdate" required placeholder="Birthdate" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<div class="login-input-area">
										<input type="email" asp-for="Email" name="Email" required placeholder="Email Address" />
									</div>
								</div>
								<div class="col-lg-3">
									<div class="login-input-area register-mg-rt">
										<input type="text" asp-for="PhoneNumber" name="PhoneNumber" required placeholder="Phone Number" />
									</div>
								</div>
								<div class="col-lg-3">
									<div class="login-input-area register-mg-rt">
										<input type="text" asp-for="City" name="City" required placeholder="City" />
									</div>
								</div>
								<div class="col-lg-3">
									<div class="login-input-area register-mg-rt">
										<input type="text" asp-for="Country" name="Country" required placeholder="Country" />
									</div>
								</div>
							</div>
							<div class="row">								
								<div class="col-lg-6">
									<div class="login-input-area register-mg-rt">
										<input type="password" asp-for="Password" name="Password" required placeholder="Password" />
									</div>
								</div>
								<div class="col-lg-6">
									<div class="login-input-area register-mg-rt">
										<input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" required placeholder="Confirm Password" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6"></div>
								<div class="col-lg-6">
									<div class="login-button-pro">
										<button type="submit" class="login-button login-button-lg">Register to Company</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<hr />
			<partial name="_adminCrudAlertPartial" />
		</div>
	</div>
</div>