@model IEnumerable<ProductCategory>
@{
	Layout = null;
}

@foreach (var item in Model)
{
	<li><a asp-controller="CompanyPartnership" asp-action="Category" asp-route-id="@item.Id">@item.Name</a></li>
}