@{
	Layout = null;
}

@if (ViewData["productCount"] == null)
{
	<div class="counter_content">
		<h2><span class="counter">0</span></h2>
		<div class="title">Ürün</div>
	</div>
}
else
{
	<div class="counter_content">
		<h2><span class="counter">@ViewData["productCount"]</span></h2>
		<div class="title">Ürün</div>
	</div>
}