@using System.Web
@model IEnumerable<SectorNews>
@{
	Layout = null;
}

@foreach (var item in Model)
{
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
		<div class="project portfolio-inner">
			<img src="~/img/us/sectorNews/@item.ImageUrl" style="max-height:264px;max-width:350px;min-height:264px;min-width:350px;" asp-append-version="true">
			<div class="label">
				<div class="label-text">
					<a asp-controller="SectorNews" asp-action="Detail" asp-route-id="@item.Id" class="text-title">
						@if (item.Title.Length > 35)
						{
							@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Title, 35) + "...")
						}
						else
						{
							@item.Title
						}
					</a>
				</div>
				<div class="label-bg"></div>
			</div>
			<div class="zoom">
				<a asp-controller="SectorNews" asp-action="Detail" asp-route-id="@item.Id">
					<i class="flat flaticon-magnifying-glass"></i>
				</a>
			</div>
		</div>
	</div>
}