@model QuestionAnswer
@{
	Layout = null;
}

@if (ViewData["questionAnswerCount"] == null)
{
	<div class="income-rate-total">
		<div class="price-adminpro-rate">
			<h3><span class="counter">Still No Question Answer</span></h3>
		</div>
	</div>
}
else
{
	<div class="income-rate-total">
		<div class="price-adminpro-rate">
			<h3><span class="counter">@ViewData["questionAnswerCount"]</span></h3>
		</div>
	</div>
}