<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>bi2bi.com | @ViewData["Title"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="~/temp/admin/img/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link rel="stylesheet" href="~/temp/admin/css/bootstrap.min.css">
	<link href="~/css/pagedlist.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/temp/admin/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/adminpro-custon-icon.css">
	<link rel="stylesheet" href="~/temp/admin/css/meanmenu.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/animate.css">
	<link rel="stylesheet" href="~/temp/admin/css/accordions.css">
	<link rel="stylesheet" href="~/temp/admin/css/tabs.css">
	<link rel="stylesheet" href="~/temp/admin/css/data-table/bootstrap-table.css">
	<link rel="stylesheet" href="~/temp/admin/css/data-table/bootstrap-editable.css">
	<link rel="stylesheet" href="~/temp/admin/css/normalize.css">
	<link rel="stylesheet" href="~/temp/admin/css/c3.min.css">
	<link rel="stylesheet" href="~/temp/admin/css/form/all-type-forms.css">
	<link rel="stylesheet" href="~/temp/admin/css/form.css">
	<link rel="stylesheet" href="~/temp/admin/style.css">
	<link rel="stylesheet" href="~/temp/admin/css/modals.css">
	<link rel="stylesheet" href="~/temp/admin/css/buttons.css">
	<link rel="stylesheet" href="~/temp/admin/css/responsive.css">
	<script src="~/temp/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="materialdesign">
	<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<!-- Header top area start-->
	<div class="wrapper-pro">
		<div class="left-sidebar-pro">
			@await Component.InvokeAsync("AdminLayoutNavbar")
		</div>
		<div class="content-inner-all">
			<div class="header-top-area">
				<partial name="_adminLayoutHeader" />
			</div>
			<partial name="_adminLayoutBreadcome" />

			<partial name="_adminLayoutMobileMenu" />
			@RenderBody()
		</div>
	</div>
	<div class="footer-copyright-area">
		<partial name="_adminLayoutFooter" />
	</div>
	<script src="~/temp/admin/js/vendor/jquery-1.11.3.min.js"></script>
	<script src="~/js/seleccion/blog/blogselection.js"></script>
	<script src="~/js/seleccion/company/companyselection.js"></script>
	<script src="~/js/seleccion/product/productselection.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/js/deletealert.js"></script>
	<script src="~/temp/thirdpart/ckeditor/ckeditor.js"></script>
	<script src="~/temp/admin/js/bootstrap.min.js"></script>
	<script src="~/temp/admin/js/modal-active.js"></script>
	<script src="~/temp/admin/js/jquery.meanmenu.js"></script>
	<script src="~/temp/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/temp/admin/js/jquery.sticky.js"></script>
	<script src="~/temp/admin/js/jquery.scrollUp.min.js"></script>
	<script src="~/temp/admin/js/jquery.form.min.js"></script>
	<script src="~/temp/admin/js/jquery.validate.min.js"></script>
	<script src="~/temp/admin/js/form-active.js"></script>
	<script src="~/temp/admin/js/counterup/jquery.counterup.min.js"></script>
	<script src="~/temp/admin/js/counterup/waypoints.min.js"></script>
	<script src="~/temp/admin/js/counterup/counterup-active.js"></script>
	<script src="~/temp/admin/js/peity/jquery.peity.min.js"></script>
	<script src="~/temp/admin/js/peity/peity-active.js"></script>
	<script src="~/temp/admin/js/sparkline/jquery.sparkline.min.js"></script>
	<script src="~/temp/admin/js/sparkline/sparkline-active.js"></script>
	<script src="~/temp/admin/js/flot/jquery.flot.js"></script>
	<script src="~/temp/admin/js/flot/jquery.flot.tooltip.min.js"></script>
	<script src="~/temp/admin/js/flot/jquery.flot.spline.js"></script>
	<script src="~/temp/admin/js/flot/jquery.flot.resize.js"></script>
	<script src="~/temp/admin/js/flot/jquery.flot.pie.js"></script>
	<script src="~/temp/admin/js/flot/Chart.min.js"></script>
	<script src="~/temp/admin/js/flot/flot-active.js"></script>
	<script src="~/temp/admin/js/map/raphael.min.js"></script>
	<script src="~/temp/admin/js/map/jquery.mapael.js"></script>
	<script src="~/temp/admin/js/map/france_departments.js"></script>
	<script src="~/temp/admin/js/map/world_countries.js"></script>
	<script src="~/temp/admin/js/map/usa_states.js"></script>
	<script src="~/temp/admin/js/map/map-active.js"></script>
	<script src="~/temp/admin/js/data-table/bootstrap-table.js"></script>
	<script src="~/temp/admin/js/data-table/tableExport.js"></script>
	<script src="~/temp/admin/js/data-table/data-table-active.js"></script>
	<script src="~/temp/admin/js/data-table/bootstrap-table-editable.js"></script>
	<script src="~/temp/admin/js/data-table/bootstrap-editable.js"></script>
	<script src="~/temp/admin/js/data-table/bootstrap-table-resizable.js"></script>
	<script src="~/temp/admin/js/data-table/colResizable-1.5.source.js"></script>
	<script src="~/temp/admin/js/data-table/bootstrap-table-export.js"></script>
	<script src="~/temp/admin/js/main.js"></script>
</body>
</html>