@{
	Layout = null;
}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="footer-copy-right">
				<p> 2025 - @DateTime.Now.Year & <strong>bi2bi.com</strong></p>
			</div>
		</div>
	</div>
</div>