@{
	Layout = null;
}

<div class="navigation">
	<ul>
		<li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
		<li class="separator-pipesign white"></li>
		<li><a asp-controller="About" asp-action="Index">Hakkımızda</a></li>
		<li class="separator-pipesign white"></li>
		<li><a asp-controller="Product" asp-action="Index">Ürünler</a></li>
		<li class="separator-pipesign white"></li>
		<li><a asp-controller="News" asp-action="Index">Duyurular</a></li>
		<li class="separator-pipesign white"></li>
		<li><a asp-controller="Pricing" asp-action="Index">Fiyatlandırma</a></li>
		<li class="separator-pipesign white"></li>
		<li><a asp-controller="OurServices" asp-action="Index">Hizmetlerimiz</a></li>
		<li class="separator-pipesign white"></li>
		<li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
	</ul>
</div>