@{
	Layout = null;
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 copyright">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            Copyright &copy; 2025 - @DateTime.Now.Year            
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right">
            <a asp-controller="HomeCompany" asp-action="DataPolicy">Kullanıcı Aydınlatma Metni & KVK Bilgilendirme</a>
            <span class="separator-pipesign white"></span>
            <a asp-controller="HomeCompany" asp-action="UserAgreement">Kullanıcı Sözleşmesi ve Hizmet Şartları</a>
            <span class="separator-pipesign white"></span>
            <a asp-controller="HomeCompany" asp-action="Frequently">Sıkça Sorulan Sorular</a>
        </div>
    </div>
</div>