@{
	Layout = null;
}

<div class="search">
	<form asp-controller="Explorer" asp-action="CompanySearchResult" method="get">
		<div class="form-group">
			<input type="text" name="key" placeholder="Firma Arayabilirsiniz..." />
			<button type="submit"> <i class="flat flaticon-search"></i> </button>
		</div>
	</form>
</div>