@{
	Layout = null;
}

<div class="main-menu collapse navbar-collapse" id="nav-content">
	<ul class="navbar-nav">
		<li class="nav-item dropdown active">
			<a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" asp-controller="About" asp-action="Index">Hakkımızda</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" asp-controller="Pricing" asp-action="Index">Fiyatlandırma</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" asp-controller="News" asp-action="Index">Duyurular</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" asp-controller="Home" asp-action="Product">Firma Ürünleri</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" asp-controller="OurServices" asp-action="Index">Hizmetlerimiz</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" asp-controller="Contact" asp-action="Index">İletişim</a>
		</li>
	</ul>
</div>