@{
	Layout = null;
}

<form asp-controller="Explorer" asp-action="PartnershipSearchResult" method="get">
	<div class="form-group">
		<input type="text" name="key" placeholder="Teklif / Talep Ara..." />
		<button type="submit"> <i class="flat flaticon-search"></i> </button>
	</div>
</form>